SECRET_KEY=SuaSenhaSecreta
DEBUG=False
ALLOWED_HOSTS=*
#DB_DEFAULT=mysql://USER:PASSWORD@HOST:PORT/SCHEMA
DB_SAPIENS=mysql://USER:PASSWORD@HOST:PORT/SCHEMA?threaded=True
DB_INTEGRACAO=mysql://USER:PASSWORD@HOST:PORT/SCHEMA?threaded=True
DB_SAFRAS=mysql://USER:PASSWORD@HOST:PORT/SCHEMA?threaded=True
DB_AUTOMOTIVA=mysql://USER:PASSWORD@HOST:PORT/SCHEMA?threaded=True
LDAP_URL=ldap://192.168.0.16
LDAP_USE_TLS=False
LDAP_SEARCH_BASE=dc=gruposcheffer,dc=com
LDAP_OBJECT_CLASS=person
LDAP_CLEAN_USER_DATA=django_python3_ldap.utils.clean_user_data
LDAP_SYNC_USER_RELATIONS=django_python3_ldap.utils.sync_user_relations
LDAP_FORMAT_SEARCH_FILTERS=django_python3_ldap.utils.format_search_filters
LDAP_FORMAT_USERNAME=django_python3_ldap.utils.format_username_active_directory
LDAP_ACTIVE_DIRECTORY_DOMAIN=gruposcheffer
LDAP_CONNECTION_USERNAME=USERDOMAIN
LDAP_CONNECTION_PASSWORD=USERDOMAIN_PASSWORD
MAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
MAIL_HOST=smtp.office365.com
MAIL_DEFAULT_FROM=DEFAULT_EMAIL_SEND
MAIL_SERVER=gruposcheffer.com.br
MAIL_HOST_USER=USER_EMAIL
MAIL_HOST_PASSWORD=USER_EMAIL_PASSWORD
MAIL_PORT=587
MAIL_USE_TLS=True
NLS_LANG=.utf8
BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=django-db
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=America/Cuiaba
WSDL_BASE=http://JACARE:8080
